body{
    background-color: rgb(67, 123, 254);
}
#play{
  margin-top: 45vh;
  margin-left: 45vw;
  height:  8vh;
  width:  10vw;
  border-radius:  20px;
  font-size: 4vh;
  font-family: fantasy;
  background-color: rgb(94, 206, 94);
  color: rgb(0, 56, 0);
}
#play:hover{
    background-color: rgb(66, 141, 66);
}
.container{
    margin-left: 27.5vw;
    width: 45vw;
    height: 30vh;
}
.opt{
  height:  8vh;
  width:  10vw;
  border-radius:  20px;
  font-size: 4vh;
  font-family: fantasy;
  background-color: rgb(238, 116, 34);
  color:  rgb(97, 40, 3);
  margin-top: 2.5vh;
}
.left{
    margin-left: 2.5vw;
}
.right{
    margin-left: 20vw;
    margin-bottom: 2.5vh ;
}
#ques{
    margin-top: 5vh;
    text-align: center;
    font-size:6vh;
    font-family: Arial, Helvetica, sans-serif;
}
 #timer{
    margin-top: 30vh;
    text-align: center;
    font-size:6vh;
    font-family: Arial, Helvetica, sans-serif;
}
.Opt{
     
    background-color: rgb(43, 144, 226);
    border: none;    
}

.opt:hover{
    background-color: rgb(170, 85, 29);
}
.optWin{
  height:  8vh;
  width:  10vw;
  border-radius:  20px;
  font-size: 4vh;
  font-family: fantasy;
  background-color: rgb(94, 206, 94);
  color:  rgb(0, 56, 0);
  margin-top: 2.5vh;
}
.optLoss{
  height:  8vh;
  width:  10vw;
  border-radius:  20px;
  font-size: 4vh;
  font-family: fantasy;
  background-color: rgb(255, 43, 43);
  color:  rgb(56, 0, 3);
  margin-top: 2.5vh;
}